<div class="table-responsive">
    <table class="table table-sm table-striped mt-4">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.role.humanize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>